### Teste dataset do artigo Phonocardiogram signal dataset paired with blood pressure measurements

In [14]:
import pandas as pd

In [15]:
df1 = pd.read_excel('Participant_BP_Label.xlsx')
df2 = pd.read_excel('Information_78_participant.xlsx')
df = pd.concat([df1, df2], axis=1)
df.drop(columns=['filename'], inplace=True)

In [16]:
df

    SYS  DAI  pluse  PtP   W    H  age  gender
0   117   70     83   47  65  165   33       2
1   125   82     73   43  58  166   25       1
2   119   75    103   44  59  161   30       1
3   102   66     83   36  57  160   29       1
4   138   79     91   59  68  165   33       2
..  ...  ...    ...  ...  ..  ...  ...     ...
73  100   68     81   32  50  159   29       1
74  124   65     57   59  70  168   29       2
75  104   75     73   29  60  163   28       1
76  117   76     81   41  80  180   35       2
77  111   71     98   40  43  153   29       1

[78 rows x 8 columns]

In [17]:
def classificar_pressao(sistolica, diastolica):
    if sistolica < 120 and diastolica < 80:
        return 0
    else:
        return 1

In [18]:
df['Class'] = df.apply(
    lambda row: classificar_pressao(row['SYS'], row['DAI']), axis=1
)

In [23]:
df2 = df[["W","H","age","gender","Class"]]
df2
df2.to_csv("dados_filtrados.csv", index=False)

In [13]:
casosPressao = df['Classificação'].value_counts()
casosPressao

Classificação
1    40
0    38
Name: count, dtype: int64

In [27]:
porcentagensPressao = df['Classificação'].value_counts(normalize=True) * 100
porcentagensPressao

Classificação
Risco de hipertensão     50.000000
Normal                   43.589744
Pressão baixa             5.128205
Hipertensão estágio 1     1.282051
Name: proportion, dtype: float64

In [29]:
casosIdade = df['age'].value_counts()
casosIdade

age
28    8
29    8
33    6
34    6
35    5
30    4
51    4
27    3
31    3
40    3
21    3
22    3
36    2
39    2
61    2
52    2
41    2
45    1
58    1
26    1
25    1
57    1
47    1
24    1
56    1
38    1
66    1
23    1
59    1
Name: count, dtype: int64

In [30]:
porcentagensIdade = df['age'].value_counts(normalize=True) * 100
porcentagensIdade

age
28    10.256410
29    10.256410
33     7.692308
34     7.692308
35     6.410256
30     5.128205
51     5.128205
27     3.846154
31     3.846154
40     3.846154
21     3.846154
22     3.846154
36     2.564103
39     2.564103
61     2.564103
52     2.564103
41     2.564103
45     1.282051
58     1.282051
26     1.282051
25     1.282051
57     1.282051
47     1.282051
24     1.282051
56     1.282051
38     1.282051
66     1.282051
23     1.282051
59     1.282051
Name: proportion, dtype: float64